@model Model.EF.Product

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Cập nhật thông tin sản phẩm
}
@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        })
        var editor = CKEDITOR.replace('txtContent', {
            customConfig: '/assets/admin/js/plugins/ckeditor/config.js',
        });
    </script>
}
@using (Html.BeginForm("Edit", "Product", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Tên sản phẩm" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "Mã sản phẩm" })
                @Html.ValidationMessageFor(model => model.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaTitle, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MetaTitle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Mô tả" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Image, new { AllowHtmlAttribute = new { @class = "form-control", @id = "txtImage" }, id = "txtImage" })
                <a id="btnSelectImage" href="#">Chọn ảnh</a>
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.MoreImages, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MoreImages)
                    @Html.ValidationMessageFor(model => model.MoreImages)
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "Giá" })
                @Html.ValidationMessageFor(model => model.Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromotionPrice, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.PromotionPrice, new { @class = "form-control", @placeholder = "Giá khuyến mãi" })
                @Html.ValidationMessageFor(model => model.PromotionPrice)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.IncludedVAT, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IncludedVAT)
                    @Html.ValidationMessageFor(model => model.IncludedVAT)
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.Quantity, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Quantity)
                    @Html.ValidationMessageFor(model => model.Quantity)
                </div>
            </div>*@

        <div class="form-group">
                @Html.LabelFor(model => model.CategoryID, new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.CategoryID, null, new { AllowHtmlAttribute = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CategoryID)
                </div>
            </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Detail, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @placeholder = "Chi tiết" })
                @Html.ValidationMessageFor(model => model.Detail)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Warranty, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Warranty)
                    @Html.ValidationMessageFor(model => model.Warranty)
                </div>
            </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedBy, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
        </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.ModifiedDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ModifiedDate)
                    @Html.ValidationMessageFor(model => model.ModifiedDate)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ModifiedBy, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.ModifiedBy)
                    @Html.ValidationMessageFor(model => model.ModifiedBy)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MetaKeywords, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MetaKeywords)
                    @Html.ValidationMessageFor(model => model.MetaKeywords)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MetaDescriptions, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.MetaDescriptions)
                    @Html.ValidationMessageFor(model => model.MetaDescriptions)
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Status, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TopHop, new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.TopHop, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TopHop)
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.ViewCount, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ViewCount)
                    @Html.ValidationMessageFor(model => model.ViewCount)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập nhật" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
